* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Work Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(66,67,186);
    background: linear-gradient(127deg, rgba(66,67,186,1) 0%, rgba(151,174,239,1) 100%)
    no-repeat;
    background-size: cover;
    background-position: center;
  }

  .wrapper {
    width: 420px;
    background: white;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    backdrop-filter: blur(25px);
    color: #484ABE;
    border-radius: 10px;
    padding: 30px 40px;
  }

  .wrapper h1 {
    font-size: 36px;
    text-align: center;
  }

  .wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    box-shadow: 0 0 10px #484ABE;
    border-radius: 40px;
  }

  .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #000;
    padding: 20px 45px 20px 20px;
  }

  .input-box input::placeholder {
    color: #484ABE;
  }

  .input-box .icon {
    position: absolute;
    right: 20px;
    transform: translateY(100%);
    font-size: 16px;
  }

  .wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
  }

  .remember-forgot label input {
    accent-color: #484ABE;
    margin-right: 4px;
  }

  .remember-forgot button {
    color: #484ABE;
  }

  .remember-forgot button:hover {
    text-decoration: underline;
  }

  .wrapper .login {
    width: 100%;
    height: 45px;
    background: #484ABE;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
  }

  .wrapper .login:hover {
    background: #97aeef;
  }

  .wrapper .register {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
  }

  .register p button {
    color: #484ABE;
    text-decoration: none;
    font-weight: bold;
  }

  .register p button:hover {
    text-decoration: underline;
  }
